.container {
  font-family: cursive;
  margin-bottom: 50px;
}

.jumbotron {
  margin-top: 40px;
  text-align: center;
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/c7/68/b0/c768b027a28cb851673562965e14ea24.jpg");
  background-position: absolute;
  /*opacity: 0.7;*/
  font-size: 100px;
  font-weight: bolder black;
}


input[type="radio"], input[type="checkbox"] {
  margin: 10px 10px 10px 10px;
}

button {
  margin-top: 20px;
  margin-left: 30px;
}

.customerInfo {
  margin-bottom: 50px;
}

h3 {
  font-size: 20px;
  color: purple;
}
