.jumbotron {
  margin-top: 40px;
  text-align: center;
}

input[type="radio"], input[type="checkbox"] {
  margin: 10px 10px 10px 10px;
}

button {
  margin-top: 10px;
}

/*.buildPizza {
  display: none;
}*/
